@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border: 2px solid rgb(195, 251, 215);
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background-color: #01bbae;
  border-radius: 12px;
  border: 5px solid transparent;
  background-clip: content-box;
}

body {
  margin: 0;
  /* font-family: "Satisfy", cursive; */
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

/* root */
#root {
  position: fixed;
  background-color: #bff0ec;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 227px 1000px 1fr;
  grid-template-rows: 1fr 4fr 5fr 1fr;
  grid-gap: 5px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* 6 components */
.border_curve {
  border-radius: 12px;
  margin: 5px;
  padding: 10px;
}

.left_sidebar {
  grid-column: 1/2;
  grid-row: 1/-1;
  background: #eaf3f4;
  box-shadow: 4px 4px 10px rgba(0, 118, 135, 0.05),
    6px 6px 40px rgba(0, 118, 135, 0.1);
  border-radius: 20px 12px 12px 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: minmax(120px, 170px) 5fr 1fr;
}
.navbar {
  margin-top: 2px;
  grid-column: 2/-1;
  grid-row: 1/2;
  background-color: #fff;
  /* display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-gap: 10px; */
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.central_section {
  grid-column: 2/-2;
  grid-row: 2/-2;
  background-color: #eaf3f4;
  /* width: 1000px; */
  overflow: hidden;
  overflow-y: scroll;
  /* height: 90%; */
}
.post {
  grid-column: 2/-2;
  grid-row: -2/-1;
  background-color: #fff;
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr;
  grid-template-rows: 10px 10px 10px;
  grid-gap: 10px;
  /* height: 25%; */
  /* position: fixed;
  bottom: 2px;
  left: 15%;
  width: 990px; */
  z-index: 10;
  border: 2px solid rgb(58, 228, 135);
}
.notifications {
  grid-column: -2/-1;
  grid-row: 2/-1;
  background-color: #eaf3f4;
  overflow-y: scroll;
}
.chart_container {
  grid-column: -2/-1;
  grid-row: 2/3;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 0.5zzfr);
  /* grid-template-rows: repeat(0.5,1fr); */
}

/* Left-sidebar children */
.logo {
  background-color: #b9e8e7;
  border-radius: 20px;
  border: 1px solid rgb(102, 220, 236);

  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding-top: 5px;
}
.logo_img {
  width: 70%;
  height: 75%;
  border-radius: 20px;
}
.logo_title {
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 15%;
  font-style: italic;
  font-weight: 700;
  font-size: x-large;
  line-height: 40px;
  align-items: flex-end;
  letter-spacing: 0.1em;
  color: #0a7597;
}

.category {
  border-radius: 12px;
  display: grid;
  grid-template-rows: repeat(4, 0.1fr);
  padding: 50px 20px 50px 20px;
  grid-gap: 10px;
}
.category a {
  text-decoration: none;
  background: linear-gradient(
      95.73deg,
      rgba(126, 229, 229, 0.497) 0.9%,
      rgba(189, 228, 233, 1) 52.54%,
      rgba(196, 242, 251, 0.99) 99.06%
    ),
    rgba(235, 240, 241, 0.3);
  display: flex;
  border-radius: 12px;
  border: 1px solid rgb(102, 220, 236);
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 0 10px;
  align-items: center;
  flex-direction: unset;
  color: #007c84;
}
.category a h3 {
  text-align: justify;
  align-items: center;
}
/* .forum{
border-radius: 12px;
}
.resources{
  border-radius: 12px;
}
.placements{
  border-radius: 12px;
}
.events{
  border-radius: 12px;
} */

.signout_container {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signout_btn {
  display: flex;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
  align-items: center;
  background: #007c84;
  color: #fff;
  border: 1px solid #92c7ad;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  /* position: relative;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%; */
}
/* .signout_icon {
} */

/* navbar children */
.nav_links {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  padding: 0 15px;
  height: 50px;
}
.nav_links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  width: 20%;
  place-content: center;
  background: #007c84;
  border: 1px solid #92c7ad;
}

.date_time {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* .navbar img {
  display: inline;
  grid-column: 3/4;
  grid-row: 1/2;
} */

.searchbar {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #f9fafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 0 10px;
  gap: 10px;
}
.search {
  height: 50%;
}
.search_icon {
  height: 50%;
  background-color: #b9e8e7;
  border: 1px solid rgb(102, 220, 236);
  border-radius: 12px;
}

/* post children */
.avatar {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.user_name {
  grid-column: 1/2;
  grid-row: 1/2;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  color: #007c84;
}
input {
  grid-column: 2/3;
  grid-row: 2/4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background: #eaf3f4;
  border-radius: 12px;
  border: 1px solid rgb(102, 220, 236);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  /* height:calc(100% - max-content); */
}
.post_btn {
  grid-column: 3/4;
  grid-row: 2/4;
  margin: 0 10px;
  border: 1px solid rgb(102, 220, 236);
  background: #36ab9c;
  border-radius: 12px;
  font-weight: bolder;
  color: #fff;
}

.forum_community {
  display: flex;
  gap: 1%;
  padding: 10px;
  justify-content: space-evenly;
  background-color: #b9e8e7;
  border-radius: 12px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.dept {
  background-color: #f2ffff;
  border: 1px solid rgb(102, 220, 236);
  border-radius: 10px;
  padding: 5px 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.forum_header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;
  padding: 0 20px;
  margin: 10px 0;

  background-color: #f2ffff;
  border: 1px solid rgb(102, 220, 236);
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.forum_header h4 {
  padding: 10px;
  font-size: large;
}

.forum_body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-rows: repeat(3, max-content);
  grid-template-areas:
    "posted_user_name bookmark follow posted_date_time"
    "avatar posted_msg_body upvote downvote"
    "answers answers answers anwsers";
  position: relative;
  grid-row-gap: 10px;
  padding: 10px;
  border: 1px solid rgb(102, 220, 236);
  border-radius: 12px;
  margin: 20px 0;
}

.answerPost {
  grid-column: -2/-1;
  width: max-content;
  height: max-content;
  position: relative;
  left: 0%;
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid rgb(102, 220, 236);
  background: #499cf5;
  border-radius: 12px;
  font-weight: bolder;
  color: #fff;
}
.noConversation {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 900;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  color: #07b7de;
  margin: 0;
  position: relative;
  top: 30%;
}
.answers {
  background-color: #a8f0e8;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-auto-rows: min-content;
  padding: 20px;
  padding-top: 3px;
  border-radius: 12px;
  border: 2px solid rgb(50, 211, 232);
  margin-top: 0px;
  margin-bottom: 15px;
  height: max-content;
  font-weight: 700;
  grid-gap: 20px;
}

.answerBox{
  display: contents;
  word-wrap:break-word;
}

.answer_time{
  grid-column: -2/-1;
  font-size:x-small;
}

.answerCount {
  display: inline;
  width: max-content;
  position: relative;
  bottom: 25px;
  padding: 0 10px;
  margin: 10px;
  border: 2px solid #227dec;
  border-radius: 5px;
  color: white;
  background-color: #01bbae;
  font-weight: bolder;
  border: 1px solid rgb(88, 144, 241);
}

hr {
  height: 5px;
  font-size: larger;
  background-color: rgb(125, 230, 240);
  margin: 50px;
  border-style: ridge;
}
.posted_user_name {
  height: max-content;
  margin: 10px;
  padding: 2px;
  /* padding: 15px; */
}
.bookmark {
  width: 70%;
  height: max-content;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f2ffff;
  border: 1px solid rgb(102, 220, 236);
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.follow {
  width: 60%;
  height: max-content;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  right: 25%; 
  background-color: #f2ffff;
  border: 1px solid rgb(102, 220, 236);
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.posted_date_time {
  grid-column: 2/5;
  height: max-content;
  width: max-content;
  /* padding: 15px; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  flex-wrap:wrap-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  text-align: center;
}

/* .avatar{
  width: 20%;
} */
.posted_msg_body {
  width:600px;
  grid-column: 2/3;
  grid-row: 2/-1;
  height: 100%;
  /* position: relative; */
  right: 70%;
  background: #eaf3f4;
  border-radius: 12px;
  border: 1px solid rgb(102, 220, 236);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  /* display: contents; */
  /* width: max-content; */
  word-wrap:break-word;
  overflow-wrap:break-word;
  /* height: max-content; */
  padding: 15px;
}
.upvote {
  width: 35%;
  position: relative;
  left: 100%;
  
  background: #eaf3f4;
  box-shadow: 4px 4px 10px rgba(0, 118, 135, 0.05),
  -4px -4px 13px rgba(255, 255, 255, 0.5), 6px 6px 30px rgba(0, 118, 135, 0.1);
  border: 1px solid rgb(102, 220, 236);
  border-radius: 12px;
  height: max-content;
  /* padding: 15px; */
}
.downvote {
   width: 35%;
  position: relative;
  /* left: 100%; */
  left: 40%;
  background: #eaf3f4;
  box-shadow: 4px 4px 10px rgba(0, 118, 135, 0.05),
    -4px -4px 13px rgba(255, 255, 255, 0.5), 6px 6px 30px rgba(0, 118, 135, 0.1);
  border: 1px solid rgb(102, 220, 236);
  border-radius: 12px;
  height: max-content;
  /* padding: 20px; */
}

.forum_icons {
  color: #007c84;
}

button {
  cursor: pointer;
}

.chart_title {
  display: inline;
  height: 25%;
  text-align: center;
}
.chart {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
  /* gap: 10px; */
  /* justify-content: space-between; */
}
.chart img {
  width: 90%;
  height: 90%;
}
.legend_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  font-size: small;
}

.Legend_title {
  /* word-wrap: break-word; */
  width: 10%;
  /* text-align: center; */
  font-size: medium;
}
.legend_box_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid rgb(8, 187, 211);

  grid-gap: 5px;
}
.legend_value,
.legend_name {
  padding: 2px;
}
.legend_name {
  font-weight: bolder;
  font-style: oblique;
  color: #fff;
  background-color: red;
  position: relative;
}
.legend_box .box {
  border: 1px solid rgb(234, 140, 9);
  border-radius: 5px;
  margin: 1px;
}

button {
  font-family: "Courier New", Courier, monospace;
}

.notify_box {
  position: relative;
  top: -30px;
  display: flex;
  gap: 5px;
  padding: 5px;
  border: 1px solid rgb(102, 220, 236);
  margin: 15px 5px;
  justify-content: space-between;
}
.all {
  position: relative;
  top: -20px;
  color: #056152;
  font-weight: bolder;
  font-size: large;
}
.notify_heading h4 {
  margin: 0;
}

.rightNotify{
  display:flex;
  align-items: center;
  justify-items: center;
}
.notify_btn {
  background-color: #f57124;
  border: 2px solid rgb(60, 178, 225);
  color: #efeef5;
  border-radius: 10px;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-decoration: none;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 35px;
}

.ResourcesOuter {
  background-color: #fff;
  grid-row: 2/-1;
  grid-column: 2/-1;
  border-radius: 12px;
  margin: 5px;
  background-image: url(./ReactComponents/Images/ResourcesImg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 4fr;
}

.res_heading {
  grid-column: 2/3;
  /* grid-row: 1/3; */
  text-align: center;
  background-color: #eff7f6;
  color: #07952b;
  display: inline-block;
  opacity: 0.8;
}
.res_heading h1 {
  font-weight: 1200;
  z-index: 12;
}
.resources_div {
  grid-row: 2/-1;
  grid-column: 2/-1;
  margin: 20px;
  border-radius: 20px;
  background-color: #d6f7f4;
  /* opacity: 0.7; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 50px;
}

.res_card {
  background-color: #f7fbfa;
  padding: 20px;
  border-radius: 12px;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 1000;
  text-transform: uppercase;
  color: #0a7597;
  font-size: x-large;
  position: relative;
  z-index: auto;
}

.res_card:hover {
  background-color: #bcf2fa;
  transform: scale(1.1);
  cursor: pointer;
}

.showFiles {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 83.9%;
  height: 75%;
  background-color: #f7f9f9;
  z-index: 2;
  position: absolute;
  left: 15.5%;
  top: 22%;
  opacity: 1;
  border: 3px dashed rgb(8, 22, 227);
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 0.5fr;
  grid-template-rows: 1fr 10fr;
  grid-gap: 10px;
}

.close_btn {
  /* position: relative; */
  grid-column: -2/-1;
  background-color: rgb(13, 222, 236);
  left: 1230px;
  padding: 5px;
  color: rgb(255, 94, 0);
  border-color: #056152;
  border: 2px solid rgb(3, 91, 57);
  font-weight: 700;
  font-size: x-large;
  width: 100%;
}

.lab_btn {
  grid-row: 1/2;
  background-color: #c9f4f0;
  font-style: italic;
  margin: 2px 5px;
  color: #080808;
}
.lab_btn h2 {
  margin: 0;
}

.course_notes_btn {
  grid-row: 1/2;
  background-color: #c9f4f0;
  display: inline;
  font-style: italic;
  margin: 2px 5px;
  color: #080808;
}

.course_notes_btn h2 {
  display: inline-block;
  width: 200px;
  margin: 0;
}

.heading{
  display: flex;
  text-align: center;
  font-size: larger;
  font-weight: 700;
  align-items: center;
}

.files_folders {
  grid-row: 2/-1;
  grid-column: 1/-1;
  margin: 5px;
  padding: 5px;
  border: 3px solid rgb(12, 189, 221);
  border-radius: 10px;
  display: grid;
  background-color: #bdf3ef;
  position: relative;
  overflow-y: scroll;
}

.folder {
  background: rgb(251, 252, 251);
  width: 200px;
  height: 80px;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(158, 34, 230);
}

.Folder_icon {
  width: 60px;
  height: 70%;
  filter: hue-rotate(120deg);
}
.folder_name {
  margin: 0;
  text-align: center;
  align-items: center;
  padding: 3px;
  font-weight: 600;
  color: #3e07f5;
}

.files_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.openfiles {
  width: 100%;
  height: 30vh;
  margin-bottom: 10px;
  position: relative;
  grid-row: 1/-1;
  grid-column: 1/-1;
  /* margin: 5px; */
  padding: 20px 50px 20px 20px;
  border: 3px solid rgb(12, 189, 221);
  border-radius: 10px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(7, 1fr);
  background-color: #2abbb1;
  overflow-y: scroll;
  overscroll-behavior: contain;
  opacity: 1;
  /* filter: contrast(1); */
}

.pdf_file {
  width: 120px;
  height: 150px;
  padding: 0;
}

.pdf_icon {
  /* display: block; */
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  filter: contrast(2);
}

.pdf_name {
  margin: 0;
  text-align: center;
  align-items: center;
  padding: 3px;
  font-weight: 600;
  color: #3e07f5;
}

.close_btn_in_openedPDF_Files {
  grid-column: -2/-1;
  background-color: rgb(13, 222, 236);
  position: fixed;
  display: inline-block;
  right: 60px;
  padding: 5px;
  color: rgb(255, 94, 0);
  border-color: #056152;
  border: 2px solid rgb(3, 91, 57);
  font-weight: 700;
  font-size: x-large;
  width: 35px;
}

pdf_container {
  width: 100vw;
  height: 100vh;
  margin: 5px;
  padding: 10px;
  position: absolute;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(5, 1fr);
  /* overflow: scroll; */
  /* overflow-y: scroll; */
  /* overscroll-behavior:unset; */
}

/* Events Page */
.EventsContainer {
  grid-row: 2/-1;
  grid-column: 2/-1;
  margin: 10px;
  padding: 20px;
  /* padding-top: 120px; */
  border-radius: 12px;
  background-color: #56e2d4;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 500px));
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 20px;
  grid-row-gap: 40px;
  /* grid-auto-flow:column; */
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: space-evenly;
}

.eventsHeader {
  grid-row: 1/2;
  grid-column: 1/-1;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  margin: 0px;
  padding: 0;
  color: #e1f6ee;
  text-decoration: underline;
  /* background-color: #3ed5d5; */
  /* position: fixed;
  z-index: 1;
  left: 21.6%;
  width: 71%; */
}
.eventsCard {
  /* background-color: #f57124; */
  /* grid-row: 2/3;
  grid-column: 2/-2; */
  width: minmax(min-content, max-content);
  height: 300px;
  display: flex;
  position: relative;
  top: -30px;
  margin-bottom: 20px;
  border: 3px solid rgb(22, 10, 155);
  justify-content: space-evenly;
}

.leftsideCard {
  font-family: "cascadia code", "Courier New", Courier, monospace;
  width: 50%;
  background-color: rgb(175, 249, 232);
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.rightsideCard {
  width: 50%;
  background-color: rgb(16, 226, 180);
  /* background-image: url(./ReactComponents/Images/demon\ slayer.png); */
}

.cardImg {
  width: 100%;
  height: 100%;
}

.cardSeat_Price {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.cardTitle{

  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.cardTitle h1 {
  padding: 0;
  width: fit-content;
  display: inline-block;
  text-align: center;
  color: rgb(2, 75, 41);
  font-size: 34px;
  font-weight: bolder;
  font-family: Courier, monospace;
  position: relative;
  top: 25px;
}

.cardDesc {
  text-align: center;
  color: #000000;
  font-weight: 600;
  width: 14vw;
  font-size: 14px;
  line-height: 1;
  font-family:  "courier";
  padding-top: 0;
}

.cardSeat_Price {
  margin: 0;
  color: #066b58;
  font-weight: 400;
  /* font-size: 20px; */
  position: relative;
  top: -20px;
  display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
/* justify-items: space-between; */
}

.seats h5 {
  /* display: grid; */
  /* font-size: 20px; */
  /* width:min-content; */
  color: #048753;
}

.seats h2 {
  position: relative;
  top: -25px;
  /* font-size: large; */
}
.seatsRemaining {
  font-size: 12.5px;
}
/* .priceClass{
  font-size: 25px;
} */
.cardPrice {
  font-size: 20px;
  /* font-size: 20px; */
  margin: 0;
}
.cardPrice h5 {
  /* font-size: 13px; */
  font-weight: bolder;
  margin: 0;
  position: relative;
  top: 10px; 
  /* font-size: 0px; */
}

.cardPrice h2 {
  position: relative;
  top: -10px;
}

.payBtn {
  width: 100%;
  height: 100px;
  background-color: #01bbae;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
  position: relative;
  top: -45px;
  cursor: pointer;
}

.cardPrice .pricePerTeam {
  margin: 0;
  font-size: xx-small;
  display: block;
  font-size: 8px;
  font-style: italic;
}

.seatsRemaining h2 {
  position: relative;
  top: -15px;
}

.ansModal {
  width: 100%;
  height: max-content;
  background-color: #70eec8;
  margin-bottom: 30px;
}

.postAnswer {
  width: 100%;
  height: max-content;
  border: 3px solid rgb(7, 212, 222);
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  font-weight: 700;
  margin-bottom: 0;
}

.post_btn_answer {
  width: max-content;
  height: max-content;
  position: relative;
  left: 88.5%;
  margin: 2px 10px;
  margin-bottom: 7px;
  padding: 10px 20px;
  border: 1px solid rgb(102, 220, 236);
  background: #03a9a9;
  border-radius: 12px;
  font-weight: bolder;
  color: #fff;
}


/* .developers_div{
  width: 100%;
  position: absolute;
  top
} */

.devs{
  width: 100px;
  color: #056152;
  /* display: flex; */
  position: absolute;
  top: -120px;
  left: 420px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
}

.errorPage{
  width: 1500px;
  height: 750px;
  /* background-image: url("./ReactComponents/Images/404page.jpeg"); */
  background-repeat:no-repeat;
  background-size:cover;
  position: absolute;
  display: grid;
  /* flex-direction: row-reverse; */
  grid-template-columns: 1fr 2fr;
  top: 100px;
  left: 20px;
  padding: 10px;
}

.nav404{
  grid-column: 1/-1;
}
.errorPage img{
  width: 1000px;
  height: 630px;
  margin-top: 0;
  grid-column: 2/-1;
  /* background-image: url("./ReactComponents/Images/404page.jpeg"); */
}
.errormsg{
  grid-column: 1/2;
  position: relative;
  /* left: 1000px; */
  /* width: 50%; */
  top: -600px;
  padding: 50px;
  font-size: 60px;
  color: rgb(6, 118, 88);
}


.centerArea {
  width:1220px;
  height:600px;
  border:solid rgb(12, 189, 221) 1px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 15px;
}

.Pabout{
  width:215px;
  height:215px;
  border:solid rgb(12, 189, 221) 1px;
  border-radius: 15px;
  margin-left:15px;
  margin-top:15px;
  padding : 7.5px;
  background-color: black;
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.Pdetails {
  width:215px;
  height:340px;
  border:solid rgb(12, 189, 221) 1px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 15px;
  padding:5px;
  background-color: black;
  color: white;
}

.Profile_image_aditya{
  width: 200px;
  height: 200px;
}

.Adets {
  width:950px;
  height:300px;
  border:solid rgb(12, 189, 221) 1px;
  margin-left: 250px;
  margin-top: -570px;
  border-radius: 15px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.heading {
  text-align:center;
  justify-content: center;
}

.extradiv {
  width: 950px;
  height: 250px;
  margin-left: 250px;
  margin-top: 20px;
  border: solid rgb(12, 189, 221) 1px;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.div1{
  width: 150px;
  height: 150px;
  border: solid rgb(12, 189, 221) 1px;
  border-radius: 15px;
  margin:6px;
  margin-left:50px;
}

.div2{
  width: 150px;
  height: 150px;
  border: solid rgb(12, 189, 221) 1px;
  border-radius: 15px;
  margin-left: 226px;
  margin-top: -156px;
}

.div3{
  width: 150px;
  height: 150px;
  border: solid rgb(12, 189, 221) 1px;
  border-radius: 15px;
  margin-left: 402px;
  margin-top: -150px;
}

.div4{
  width: 150px;
  height: 150px;
  border: solid rgb(12, 189, 221) 1px;
  border-radius: 15px;
  margin-left: 577px;
  margin-top: -149px;
}

.div5{
  width: 150px;
  height: 150px;
  border: solid rgb(12, 189, 221) 1px;
  border-radius: 15px;
  margin-left: 754px;
  margin-top: -149px;
}

.sideLine{
  width: 470px;
  height: 210px;
  border-left: solid white 2px;
  margin-left: 444px;
  margin-top: -220px;
  padding-left: 10px;
  padding-top: 0.1px;
}

.clubimg{
  width: 100%;
  height: 100%;
  margin-top: -47px;
  border-radius: 15px;
}

.Profile_image_aditya{
  border-radius: 15px;
}

.userProfhr{
  height: 0px;
  font-size: small;
  background-color: rgb(125, 230, 240);
  margin: 0px;
  border-style:double;
}

/* .QRcodeDiv{
  width: 500px;
  height: 500px;
  background-color: #fff;
} */

.QRcodeContainer{
  width: 90%;
  height: 110%;
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: rgb(214, 243, 246);
  /* z-index: 10; */
  z-index: 1;
}

.upiPay{
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  top: 100px;
  left:350px;
}

.upiHeading{
  width: max-content;
  position: absolute;
  top: 20px;
  left: 500px;
  /* grid-row: 1/2; */
}

.upiPay img{
  grid-row: 2/3;
}

.close_btn_QR{
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: red;
  color: white;
  font-weight: 700;
  position: relative;
  left:1050px;
  bottom: 450px;
}


.aboutContainer{
  width: 1290px;
  grid-column: 2/-2;
  grid-row: 2/-2;
  background-color: #eaf3f4;
  /* width: 1000px; */
  overflow: hidden;
  overflow-y: scroll;
}

.aboutContainer h1{
  color: #068a77;
}

.aboutContainer img{
  position: relative;
  left: 25%;
  margin: 50px;
  height: 500px;
  width: 500px;
  border-radius: 100px;
  border: 2px solid rgb(29, 152, 213);
}

.aboutContainer p{
font-weight: 700;
font-size: larger;
text-align: justify;
}

.goback{
  position: absolute;
  color: #056152;
  top: 30px;
  left: 30px;
  border-radius: 12px;
  border: 2px solid rgb(5, 171, 149);
  padding: 10px;
  cursor: pointer;
}

.goback h2{
  margin: 0;
  padding: 0;
}


.nofiles{
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  top: -400px;
  left:-500px;
}